*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
/media
/static
*.log
*.pot
*.pyc
*.swp
.idea/
.vscode/
env/
venv/
env.bak/
venv.bak/
.DS_Store
*.bak
*.log
*.sqlite3
*.pot
*.py[cod]
*.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.hypothesis/
.cache
*.sqlite3-journal
*.migrations
docker-compose.override.yml
*.env
*.swp
.env